<div id="search" class="search">
    <input type="text" ng-model="searchWords" ng-change="search()"
    placeholder="Search something">
</div>

<div class="venueList ul">
  <div ng-animate="'animate'" class="venue cf li" ng-repeat="venue in venueList">
    <venue-item venue="venue"></venue-item>
    <!--<a href="http://maps.google.com/?q={{venue.location}}" target="_blank">-->
      <!--<li class="info">-->
          <!--<h3 class="name">{{venue.name}} - {{venue.distance}}</h3>-->
          <!--<p class="address">{{venue.address}}</p>-->
      <!--</li>-->
    <!--</a>-->
  </div>
</div>

